body {
  font-family: Arial, Helvetica, sans-serif;
}

/* nav starts */
.container {
  height: 100%;
  border: 1px solid black;
}

.nav-area {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #efefef;
}

.nav-area div {
  /* width: 35%; */
  background-color: #5265bf;
}

.nav-area .area-a {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-area .area-b div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  float: left;
  margin: 20px;
}

.search-icon {
  background: transparent;
  border: none;
  font-size: 32px;
  padding: 6px 10px;
  color: white;
}

.log-in-btn,
.sign-up-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

/* nav ends */
/* slider starts */
.carousel-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41.5vh;
  background-color: #efefef;
  padding: 15px;
}

.slider {
  height: 90%;
  width: 90%;
  margin: 15px;
  background-color: #5265bf;
  border-radius: 20px;
}

/* slider ends */
/* catagories start */
.catagory-area {
  display: flex;
  padding: 0 4.5vw 0 4.5vw;
  justify-content: space-between;
  padding: 15px;
  background-color: #efefef;
}

.catagory-area div {
  display: flex;
  height: 35vh;
  flex-grow: 1;
  margin: 15px;
  background-color: #5265bf;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* catagory end */
/* Media Query To Column */
@media only screen and (max-device-width: 600px) {
  .catagory-area {
    flex-direction: column;
  }
}

/* Media Query To Order */
