body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}

/* nav starts */
.container {
  height: 100%;
  /* border: 1px solid black; */
}

.nav-area {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #FF371E;
}

.nav-area div {
  /* width: 35%; */
  /* background-color: #5265bf; */
}

.nav-area .area-a {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-area .area-b div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  float: left;
  margin: 20px;
}

/* .search-icon {
  background: transparent;
  border: none;
  font-size: 32px;
  padding: 6px 10px;
  color: white;
} */

.logo {
  cursor: pointer;
  padding-left: 10px;
}

.logo-lrg {
  display: block;
}
.logo-sml {
  display:none;
}

.log-in-btn,
.sign-up-btn {
  background-color: #FF371E;
  border: 3px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;

}

.log-in-btn:hover,
.sign-up-btn:hover {
  background-color: white;
  color: #FF371E;
  cursor: pointer;
  transition: 0.2s;
}

/* nav ends */
/* slider starts */
.carousel-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  /* background-color: #efefef; */
  padding: 15px 0 0 0;
}

.slider {
  height: 90%;
  width: 90%;
  margin: 0px 15px;
  background-color: #5265bf;
  border-radius: 20px;
}

/* slider ends */
/* catagories start */
.catagory-area {
  display: flex;
  padding: 0 3vw 0 3vw;
  justify-content: space-between;
  /* background-color: #efefef; */
}

.cat {
  display: flex;
  height: 35vh;
  flex-grow: 1;
  flex-direction: column;
  /* border: 2px solid #FF371E; */
  margin: 15px 30px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: #FF371E;
  transition: transform .2s;
}

.cat:hover {
  -ms-transform: scale(1.04); /* IE 9 */
 -webkit-transform: scale(1.04); /* Safari 3-8 */
 transform: scale(1.04);
  cursor: pointer;
  transition-duration: 0.2s;
  /* border: 3px solid #FF371E; */
}

.cat i {
  font-size: 8vw;
  padding: 40px 0;
}

.cat h6 {
  font-size: 1.5vw;
  margin: 0;
  font-weight: lighter;
}


.footer{
  height: 50px;
  background-color: #fe371e;
  width: 100%;
}





/* catagory end */
/* Media Query To Column */
@media only screen and (max-device-width: 600px) {
  .catagory-area {
    flex-direction: column;
  }

  .logo-lrg{
    display: none;
  }

  .logo-sml {
    display: block;
  }

  .nav-area .area-b div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
    margin: 20px 10px 20px 10px;
    width: 34%;
  }

  .log-in-btn,
  .sign-up-btn {
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 10px;
  }


  .cat {
    height: 27vh;
  }


  .cat i {
    font-size: 20vw;
  }

  .cat h6 {
    font-size: 3vw;
  }
}


/* Media Query To Order */
